
html {
		background-image: url("../congruent_outline.png");
		background-attachment:fixed;
    height: 100%;
}

.output {
    height: 50px;
    width: 50 px;
    border: 4px solid #e67e22;
    background-color: #FFFFFF;

}
